.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

.navbar-nav li:hover {
    background-color: lightgray;
}

.jumbotron-idea {
    height: 28em;
    background-image: url("../images/light-bulb.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#productivity {
    color: orange;
}

.para1 {
    color: gray;
}

.jumbotron-about {
    background-image: url("../images/about-us.jpg.");
    color: whitesmoke;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#rringup-app {
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
    margin-bottom: 0;
}

#news-app {
    text-align: center;
    background-color: lightyellow;
    margin-bottom: 0;    
}

#sports-app {
    text-align: center;
    background-image: url("../images/sports-app-background.jpg");
    color: whitesmoke;
    margin-bottom: 0;
}

#social-media-app {
    text-align: center;
    background-image: url("../images/social-media-background.jpg");
    color: whitesmoke;
    margin-bottom: 0;
}

/* Styles for about.html */

.about {
    height: 16em;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    font-size: xx-large;
    padding: 5% 2%;
    background-size: cover;
    color: whitesmoke;
    top: 42px;
    background-image: url('../images/about-us.jpg');
}

.tile-mission {
    width: 40%;
    float: left;
}

.about-mission-para {
    margin-top: 35%;
}

.tile-profile-container {
    /* line-height: jjj */
}

.tile-profile {
    width: 25%;
    height: 16em;
    margin: 0.5%;
    padding: 1% 1%;
    float: left;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: small;
    color: black;
    vertical-align: text-bottom;
    text-align: center;
}

.tile-profile-empty {
    background-color: transparent;
    border-color: transparent;    
}

.tile-text {
    font-size: medium;
}

.idea-intro {
    height: 41em;
    background: linear-gradient(darkblue, goldenrod);
}
