.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

.navbar-nav li:hover {
    background-color: lightgray;
}

.jumbotron-idea {
    background-image: url("../images/light-bulb.jpg");
    color: whitesmoke;
}

#productivity {
    color: orange;
}

.para1 {
    color: gray;
}

.jumbotron-about {
    background-image: url("../images/about-us.jpg.");
    color: whitesmoke;
    background-repeat: no-repeat
}

#rringup {
    color: red;
}

#news-app {
    background-color: lightyellow;
}

#sports-app {
    background-image: url("../images/sports-app-background.jpg");
    color: whitesmoke
}

#social-media-app {
    background-image: url("../images/social-media-background.jpg");
    color: whitesmoke
}